#bana-area{
    background-image: url('/assets/images/curved-banner.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: 100%;
}
.padding-bottom-0{
    padding-bottom: 0px;
}
.margin-bottom-0{
    margin-bottom: 0px;
}
.margin-0{
    margin: 0px !important;
}
.padding-0{
    padding: 0px !important;
}
.padding-top-0{
    padding-top: 0px;
}
#login-form, .padding-top-20{
    padding-top: 20px;
}
#testfooter{
    background-image: url('/assets/images/curved-footer.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 120px;
}
.white-text{
    color: #fff;
    padding-top: 20px;
}
.margin-top-20{
    margin-top: 20px;
}
.noshow{
    display: none;
}
.site-signup{
   background-image: url('/assets/images/background.png');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 100%;
}
.navbar.nav-header.navbar-default {
    background-color: #3ab54a;
    border: none !important;
    border-radius: 0px;
    margin: 0;
}
.navigation li a{
    color: #FFF !important;
    padding: 15px 10px !important;
	margin-right:1px;
    font-size: 14px;
}
.navigation li a:hover, .navigation li.active a{
	background:#ecc31b !important;
}
.navigation .dropdown-menu {
	min-width: 100%;
    border-top: none;
	background-color:#3ab54a !important;
}
.erc-yellow, .navigation > li.open > a{
    background: #ecc31b !important;
}
.breadcrumb{
    background: none !important;
    margin-bottom: 5px !important;
    padding: 0px 0px !important;
    margin-bottom: 5px;
}
.breadcrumb > li {
  padding-top: 5px;
}

.breadcrumb > li a{
	color:#3e4d92;
}
.dropdown-menu > li{
    border-bottom: 1px solid #fff;
    width: 100% !important;
}
.big-padding > thead > tr > th,
.big-padding > tbody > tr > th,
.big-padding > tfoot > tr > th,
.big-padding > thead > tr > td,
.big-padding > tbody > tr > td,
.big-padding > tfoot > tr > td{
    padding: 8px !important;
}